:root {
  --primary-white: hsl(0, 0%, 100%);
  --secondary-gray: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --gray-blue: hsl(212.31, 44.83%, 88.63%);

  --ff: 'Outfit', sans-serif;
  --ff-400: 400;
  --ff-700: 700;

  --br-15: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--gray-blue);
}

.qr-container {
  padding: 1rem;
  width: 320px;
  height: 497px;
  border-radius: var(--br-15);
  background-color: var(--primary-white);
  text-align: center;
}

.qr-container > * {
  margin-bottom: 1.1rem;
}

.qr-code {
  border-radius: var(--br-15);
  width: 100%;
}

p {
  padding: 0 1rem;
  font-family: var(--ff);
}

.bold {
  color: var(--dark-blue);
  font-weight: var(--ff-700);
  font-size: 1.4rem;
}

.undertext {
  color: var(--secondary-gray);
}
